<div class="overlay">
  <div class="back">
    <div class="container">
      <h1>VetApp</h1>
      <h6>Please log in to see your appointments</h6>
      <div *ngIf="auth.user$ | async as user; else login">
        {{user.displayName}}
        <button class="button" (click)="auth.signOut()">Sign Out</button>
      </div>
      <ng-template #login>
        <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
        <button class="button" (click)="auth.signUp('Topo', 'topolniceanutony@yahoo.com', 'Mettin2')">Sign Up</button>
        <button class="button" (click)="auth.signIn('topolniceanutony@yahoo.com', 'Mettin2')">Sign in</button>
      </ng-template>
    </div>
  </div>
</div>
