label{
  font-size: 20px;
  color: slategray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder{
  color: gainsboro;
}

.error {
  margin-top: 10px;
  font-size: .8rem;
  color: #ee6e73 !important;
  position: relative;
  top: -20px;

}

.error > label {
  color: #ee6e73 !important;
  position: absolute;
  top: 2px;
}

a:hover {
  cursor: pointer;
}
